.side-container{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.main{
    display: flex;
    width: 100%;
    justify-content: center;
    /* text-align: center; */
}
.main-container{
    /* display: flex; */
    width: 30%;
    /* justify-content: space-between; */
}
.mainTop{
    display: flex;
    justify-content: space-between;
}
.userContainer{
    width: 100%;
}
.wrapUser{
    display: flex;
    justify-content: space-between;
}
.btn{
    width: 260px;
    height: 50px;
    padding: 10px;
    margin: 10px;
}
.totalSum{
    display: flex;
    justify-content: space-between;
}